<div class="bg-white p-4 rounded-md">
  <table class="min-w-full divide-y divide-gray-200">
    <thead>
      <tr>
        <th class="py-2 text-start">Nome</th>
        <th class="py-2 text-center">Membro há (Mesês)</th>
        <th class="py-2 text-center">Risco de Churn</th>
        <th class="py-2 text-center">Status do Cartão</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each.with_index do |card, index| %>
        <tr>
          <td class="py-2 text-start"><%= card.customer.name %></td>
          <td class="py-2 text-center"><%= card.customer.tempo_de_assinatura %></td>
          <td class="py-2 text-center">
            <% if card.customer.risco_de_churn <= 0.5 %>
              <span class="text-green-600 text-center">BAIXO</span>
            <% elsif card.customer.risco_de_churn <= 0.80 %>
              <span class="text-yellow-500 text-center">MÉDIO</span>
            <% else %>
              <span class="text-red-700 text-center">ALTO</span>
            <% end %>
          </td>
          <td class="py-2 text-center">
            <% if card.card_status %>
              <span class="text-green-700 text-center">VÁLIDO</span>
            <% else %>
              <span class="text-red-700 text-center">INVÁLIDO</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
