<div data-controller="filter" class="mx-auto max-w-4xl my-12 space-y-6">
  <!-- Statistics Div -->
  <div class="bg-slate-800 p-4 rounded-md">
    <p class="text-xl font-semibold text-white">Statistics:</p>
    <p class="text-white">Total Customers: <%= @customers.count %></p>
    <p class="text-white">High churn chance: <%= @customers.select { |customer| customer.risco_de_churn >= 0.8 }.count %></p>
    <p class="text-white">Invalid cards: <%= @cards.select { |card| !card.card_status }.count %></p>
  </div>

  <!-- Filtering and Search Box -->
  <div class="bg-white p-4 rounded-md space-x-4 flex items-center">
    <label class="text-sm font-medium text-gray-700">Risco de Churn:</label>
    <select data-filter-target="riscoDeChurn" data-action="change->filter#filter" class="border p-2" id="filterRiscoDeChurn">
      <option value="asc">Crescente</option>
      <option value="desc">Decrescente</option>
    </select>


    <label class="text-sm font-medium text-gray-700">Filtrar por Status do Cartão:</label>
    <select data-filter-target="cardStatus" data-action="change->filter#filter" class="border p-2" id="filterCardStatus">
      <option value="">All</option>
      <option value="valid">Valid</option>
      <option value="invalid">Invalid</option>
    </select>

    <label class="text-sm font-medium text-gray-700">Procurar por Name:</label>
    <input data-filter-target="name" data-action="input->filter#filter" type="text" class="border p-2" placeholder="Enter Name" id="searchByName">
  </div>
<!-- Card List Table -->
  <div data-filter-target="list">
    <%= render "card_list" %>
  </div>

</div>
